</head>
<body>
    <h2>รายการรายวิชา</h2>
    <table>
        <tr>
            <th>รหัสวิชา</th>
            <th>ชื่อรายวิชา</th>
            <th>หน่วยกิต</th>
        </tr>
        {% for course in courses %}
        <tr>
            <td>{{ course.course_code }}</td>
            <td>{{ course.course_name }}</td>
            <td>{{ course.credits }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3" style="text-align: center;">ไม่มีรายวิชา</td>
        </tr>
        {% endfor %}
    </table>


</body>
</html>
